@import url("./variables.css"); /* import all the variables first */
@import url("./typography.css");

/* +-----------------------------------------------------------+
                        Main CSS File
+-----------------------------------------------------------+ */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  color: var(--color-black);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  margin: -0.5rem;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  visibility: hidden;
}

.main-container {
  width: 100%;
  max-width: 90rem;
  padding: 0 3.125rem;
  box-sizing: border-box;
  background-color: white;
}

.main-flex {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/* +-----------------------------------------------------------+
                            HEADER
+-----------------------------------------------------------+ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 3.75rem;
  padding-top: 1.75rem;
}

.header-navigation-list {
  display: flex;
  align-items: flex-start;
  list-style: none;
  gap: 4.25rem;
}

.header-navigation-item {
  border-top: 0.125rem solid var(--color-transparent);
  padding-top: 1.75rem;
}

.header-navigation-item a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  justify-content: center;
}

.header-navigation-item:hover,
.header-navigation-item:focus-within,
.header-navigation-item:active {
  border-top: 0.125rem solid var(--color-blue);
  color: var(--color-blue);
}

/* +-----------------------------------------------------------+
                        Main Info-container
+-----------------------------------------------------------+ */

.info-container {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 2.5rem;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  width: 100%;
}

.search-location-icon-container {
  background-color: var(--color-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1rem 0 0 1rem;
}

.search-input {
  height: 3rem;
  border: none;
  color: var(--color-black);
  opacity: 100%;
  outline: none;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 12.125rem;
}

.search-input::placeholder {
  color: var(--color-black);
  opacity: 100%;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-filter);
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1;
}

.icone-search-button {
  color: var(--color-white);
  margin: 0 1rem;
  width: 1.125rem;
  display: none;
}

.search-button {
  width: auto;
  height: 3rem;
  right: 0;
  background-color: var(--color-blue);
  color: var(--color-white);
  outline: none;
  border: none;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.search-button:hover,
.search-button:focus {
  box-shadow: 0.1875rem 0.1875rem 0.5rem rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
  cursor: pointer;
}

.search-button:active {
  transform: scale(0.98);
  transition: transform 0.1s ease;
}

.texte-search-button {
  display: block;
}

.filters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

.filter-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  flex-wrap: wrap;
}

.filter-button {
  border: 0.125rem solid var(--color-grey-tint-2);
  border-radius: 1.5rem;
  height: 3rem;
  background-color: var(--color-white);
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.filter-button:hover,
.filter-button.active,
.filter-button:focus {
  cursor: pointer;
  background-color: var(--color-blue-light);
  outline: none;
}

.icone-filter-button {
  color: var(--color-blue);
  margin-right: 0.75rem;
  font-size: 1.375rem;
}

#seconde-icone-filter-button {
  font-size: 1.4rem;
  width: 1rem;
}

.info {
  display: flex;
  align-items: center;
}

.icone-info-text {
  color: var(--color-blue);
  border: 0.125rem solid var(--color-grey-tint-2);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  font-size: 0.6875rem;
}

.section-title {
  margin: 0;
  font-size: 1.375rem;
}

.card {
  background-color: white;
  border-radius: 1.25rem;
  padding: 0.375rem;
  filter: drop-shadow(0px 0.1875rem 0.9375rem rgba(0, 0, 0, 0.1));
  transition: box-shadow 0.3s ease;
}

@keyframes scaleBounce {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.065);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  100% {
    transform: scale(1.025);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.card:hover,
.card:focus,
.card:active {
  transform: scale(1.035);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  outline: none;
  animation: scaleBounce 0.35s forwards;
}

.card img {
  object-fit: cover;
}

.text-style-card-title {
  font-size: 1rem;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/* +-----------------------------------------------------------+
                        Hebergements And Populaires
+-----------------------------------------------------------+ */

.hebergements-title {
  text-align: left;
}

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hebergements-and-populaires section {
  background-color: var(--color-grey);
  border-radius: 1.25rem;
  padding: 1.75rem;
  box-sizing: border-box;
}

.hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 1.875rem;
}

.hebergements-cards {
  display: grid;
  align-content: flex-start;
  row-gap: 1.875rem;
  column-gap: 3.444%;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  transition: 300ms ease;
  width: 100%;
}

.hebergements-img {
  border-radius: 1rem 1rem 0 0;
  height: 7rem;
  width: 100%;
}

.hebergements-card-content {
  padding-left: 0.625rem;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
}

.hebergement-card-title-font-variable {
  font-size: clamp(0.85rem, 1.11vw, 1rem) !important;
}

.fa-star,
.fa-chart-line {
  color: var(--color-blue);
}

.neutral-star {
  color: var(--color-grey);
}

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards {
  width: 100%;
}

.populaires-cards .card {
  display: flex;
  margin-top: 1.8rem;
  width: 100%;
}

.card-article {
  display: flex;
  width: 100%;
}

.populaires-cards img {
  width: 33%;
  height: 8.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .text-style-card-title {
  margin-top: 0.5rem;
  line-height: 1.17;
}

.populaires-cards .text-style-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 0;
}

/* +-----------------------------------------------------------+
                            Activités
+-----------------------------------------------------------+ */

.activites-section {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 1.875rem;
  width: 100%;
}

.activites-frame {
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  gap: 1.75rem;
  flex-shrink: 1;
  align-items: stretch;
}

.activites-cards-container {
  max-height: 27rem;
  box-sizing: border-box;
  width: 100%;
  padding: inherit;
}

.activites-cards {
  background-color: white;
  border-radius: 1.25rem;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.activites-cards img {
  object-fit: cover;
  width: 100%;
  height: 86.7%;
  border-radius: 1.25rem 1.25rem 0 0;
}

.activites-cards-img-container {
  width: 100%;
  height: 86%;
  overflow: hidden;
}

#activites-second-img {
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
  transform: scale(1.4);
}

.activites-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  min-height: 3.75rem;
  padding: 0 1.125rem;
}

/* +-----------------------------------------------------------+
                            FOOTER
+-----------------------------------------------------------+ */

.footer {
  background-color: var(--color-grey);
  margin-top: 2.5rem;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem;
}

.footer-nav div {
  flex: 1;
}

.footer-nav div h4 {
  margin: 0;
  line-height: 1;
  padding: 0;
  padding-bottom: 1rem;
}

.footer-nav-list {
  list-style-type: none;
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

/* +-----------------------------------------------------------+
                        Media queries
+-----------------------------------------------------------+ */

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filters {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 1rem;
    flex-direction: column;
  }

  .filter-button {
    padding: 0 clamp(0.5rem, 1.14vw, 1.03rem);
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .hebergements-title {
    margin-top: inherit;
  }

  .hebergements-card {
    height: 207px;
  }

  .populaires {
    width: 100%;
    margin-top: 3.125rem;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.25rem;
  }

  .populaires-cards img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .populaires-cards .card {
    margin-top: 1.25rem;
  }

  .populaires-cards a {
    width: 31.83%;
  }

  .populaires-cards .text-style-card-title {
    font-size: clamp(0.7rem, 1.36vw, 0.875rem);
  }

  .populaires-cards .text-style-subtitle {
    font-size: 0.75rem;
  }

  .activites-cards img {
    object-fit: cover;
    width: 100%;
    height: 12.5rem;
    border-radius: 1.25rem 1.25rem 0 0;
  }

  .activites-cards-img-container {
    height: inherit;
  }

  .activites-text-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.125rem;
    text-align: left;
  }

  .activites-second-img {
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
    transform: scale(1);
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  .logo {
    margin: 1.75rem 1.75rem;
    padding: inherit;
  }

  .header-navigation-menu {
    height: 100%;
    width: 100%;
  }

  .header-navigation-item {
    border-bottom: 0.125rem solid var(--color-transparent);
    padding-bottom: 1rem;
    padding-top: inherit;
    text-align: center;
  }

  .header-navigation-item:hover,
  .header-navigation-item:focus-within,
  .header-navigation-item:active {
    border-top: 0.125rem solid var(--color-transparent);
    border-bottom: 0.125rem solid var(--color-blue);
    color: var(--color-blue);
  }

  .header-navigation-list {
    display: grid;
    list-style: none;
    width: 100%;
    grid-template-columns: repeat(2, 50%);
    gap: inherit;
  }

  .main-flex {
    display: flex;
    flex-direction: column;
    gap: inherit;
  }

  .info-container {
    margin-top: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 2.25rem;
    width: 100%;
    margin-bottom: 2.25rem;
    padding: 0 1.25rem;
  }

  .info-text {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
  }

  .info-text p {
    margin-top: 0.75rem;
  }

  .text-style-title-section {
    line-height: 1.175;
  }

  .search-location-icon-container {
    background-color: var(--color-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem !important;
    height: 3.125rem;
    border-radius: 1rem 0 0 1rem;
    flex-shrink: 0;
  }

  .search-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .search-input {
    width: inherit;
    flex-grow: 1;
  }

  .search-button {
    width: auto;
    height: 3rem;
    right: 0;
    background-color: var(--color-blue);
    color: var(--color-white);
    outline: none;
    border: none;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: inherit;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .icone-search-button {
    color: var(--color-white);
    margin: 0 1rem;
    width: 1rem;
    display: block;
  }

  .texte-search-button {
    display: none;
  }

  .filters {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 1.25rem;
    flex-direction: column;
  }

  .filter-list {
    list-style: none;
    display: grid;
    column-gap: 0.75rem;
    row-gap: 1.25rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
  }

  .filter-list li {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
  }

  .filter-button {
    border: 0.125rem solid var(--color-grey-tint-2);
    height: 3.125rem;
    background-color: var(--color-white);
    padding: 0 1rem;
    width: 100%;
    font-size: 1rem;
  }

  .icone-filter-button {
    color: var(--color-blue);
    margin-right: 0.5rem;
    font-size: 1rem;
    width: 1.375rem;
  }

  .icone-info-text {
    width: 2rem;
    padding-bottom: 0.125rem;
    height: 1.875rem;
    font-size: 0.875rem;
  }

  .hebergements-and-populaires {
    display: grid;
    grid-auto-columns: 100%;
    grid-template-rows: repeat(2, auto);
  }

  .hebergements-and-populaires section {
    border-radius: 0;
    padding: 1.875rem 1.25rem 1.25rem 1.25rem;
    width: 100%;
  }

  .hebergements {
    gap: 1rem;
  }

  .populaires {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: inherit;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }

  .card-article {
    display: flex;
    width: 100%;
  }

  .populaires-cards .card {
    margin-top: 1rem;
    width: 100%;
  }

  .populaires-cards .text-style-card-title {
    font-size: 1rem;
  }

  .hebergements {
    background-color: white !important;
  }

  .hebergements-cards {
    display: grid;
    row-gap: 1rem;
    column-gap: inherit;
    grid-template-columns: auto;
    transition: 300ms ease;
    width: 100%;
  }

  .hebergements-title {
    margin-bottom: 0.5rem;
  }

  .hebergements-card {
    height: 13rem;
    width: 100%;
  }

  .hebergement-card-title-font-variable {
    font-size: 1rem !important;
  }

  .activites-frame {
    background-color: var(--color-white);
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-shrink: 1;
    align-items: stretch;
    flex-direction: column;
  }

  .activites-cards {
    background-color: white;
    border-radius: 1.25rem;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .activites-cards img {
    object-fit: cover;
    width: 100%;
    height: 8.875rem;
    border-radius: 1.25rem 1.25rem 0 0;
  }

  .activites-text-container {
    padding: 1.125rem 1.125rem;
  }

  .footer {
    background-color: var(--color-grey);
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.875rem;
    gap: 2.5rem;
  }
}
